@namespace Skinnix.RhymeTool.Client.Components.Editing

@using Skinnix.RhymeTool.ComponentModel
@using Skinnix.RhymeTool.Data
@using Skinnix.RhymeTool.Data.Notation
@using Skinnix.RhymeTool.Data.Notation.Display
@using Skinnix.RhymeTool.Data.Notation.Display.Caching

@inject IJSRuntime js

@{
    void RenderNote(Note note, bool isBassNote = false)
    {
        var format = (isBassNote ? Formatter?.FormatBassNote(note) : Formatter?.FormatNote(note))
            ?? (note.Accidental == AccidentalType.None ? new(note.Type.GetDisplayName())
            : new(note.Type.GetDisplayName(), note.Accidental.GetDisplayName()));

        @(format.Type)<span class="accidental">@format.Accidental</span>
    }

    void RenderChord(Chord chord)
    {
        <span class="element element-chord chord">
            <span class="chord-root">@{ RenderNote(chord.Root); }</span><span class="chord-quality">@chord.Quality.ToString(Formatter)</span>

            @if (chord.Alterations.Count > 0)
            {
                var firstAlteration = true;
                <span class="chord-alterations">
                    @foreach (var alteration in chord.Alterations)
                    {
                        if (!firstAlteration)
                        {
                            <span class="chord-alteration-separator">/</span>
                        }
                        firstAlteration = false;

                        <span class="chord-alteration">@alteration.ToString(Formatter)</span>
                    }
                </span>
            }

            @if (chord.Bass != null)
            {
                <span class="chord-bass-separator">/</span>

                <span class="chord-bass">@{ RenderNote(chord.Bass.Value, true); }</span>
            }
        </span>
    }

    void RenderElement(SheetDisplayLineElement element)
    {
        switch (element)
        {
            case SheetDisplayLineChord chord:
                RenderChord(chord.Chord);
                break;

            case SheetDisplayLineSpace space:
                @("".PadRight(space.GetLength(Formatter)))
                break;

            case SheetDisplayLineText text:
                <span class="text">@text.ToString(Formatter)</span>
                break;

            case SheetDisplayLineAnchorText anchorText:
                <span class="anchor-text">@anchorText.ToString(Formatter)</span>
                break;

            case SheetDisplayLineSegmentTitleBracket titleBracket:
                <span class="segment-title-bracket">@titleBracket.ToString(Formatter)</span>
                break;

            case SheetDisplayLineSegmentTitleText titleText:
                <span class="segment-title" id="sheetSegment-@(Line?.Guid)">@titleText.ToString(Formatter)</span>
                break;

            case SheetDisplayLineHyphen hyphen:
                <span class="hyphen">@hyphen.ToString(Formatter)</span>
                break;
        }
    }

    void RenderElements(IEnumerable<SheetDisplayLineElement> elements)
    {
        foreach (var element in elements)
            RenderElement(element);
    }

    void RenderLine(SheetDisplayLine line, int lineIndex)
    {
        switch (line)
        {
            case SheetDisplayEmptyLine empty:
                <div class="line line-empty" data-line-index="@lineIndex"></div>
                break;

            case SheetDisplayChordLine chords:
                <div class="line line-chords" data-line-index="@lineIndex">
                    @{ RenderElements(line.GetElements()); }
                </div>
                break;

            case SheetDisplayTextLine text:
                <div class="line line-text" data-line-index="@lineIndex">
                    @{ RenderElements(line.GetElements()); }
                </div>
                break;
        }
    }
}

@if (lineCache != null)
{
    var lineIndex = 0;

    <div class="metaline metaline-lines" data-metaline="@(lineCache.Line.Guid)">
        @foreach (var display in lineCache.GetDisplayLines(Formatter))
        {
            RenderLine(display, lineIndex++);
        }
    </div>
}

@code {
    [CascadingParameter] public SheetDocument? Document { get; set; }
    [CascadingParameter] public ISheetBuilderFormatter? Formatter { get; set; }

    [Parameter] public SheetLine? Line { get; set; }

    private SheetLineCache? lineCache;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (lineCache != null)
            lineCache.Modified -= OnLineModified;

        lineCache = Line == null ? null : new SheetLineCache(Line);

        if (lineCache != null)
            lineCache.Modified += OnLineModified;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        await js.InvokeVoidAsync("console.log", "rerender: " + this.GetType().Name);
    }

    private void OnLineModified(object? sender, ModifiedEventArgs args)
    {
        StateHasChanged();
    }

    public async Task<MetalineEditResult?> HandleInput(InputEventData data)
    {
        if (lineCache == null) throw new InvalidOperationException("editor not initialized");

        //find lines
        var lines = lineCache.GetDisplayLines();
        var startLine = lines[data.Selection.Start.Line];
        var endLine = lines[data.Selection.End.Line];

        if (startLine != endLine)
        {
            return null; //TODO: for now, we don't support multiline editing
        }

        //selection range
        var selectionRange = new SimpleRange(data.Selection.Start.Offset, data.Selection.End.Offset);

        LineEditResult? lineEditResult = null;
        switch (data.InputType)
        {
            case "insertFromDrop":
            case "insertFromPaste":
            case "insertFromPasteAsQuotation":
            case "insertLink":
            case "insertText":
                lineEditResult = startLine.Editing.InsertContent(data.Data, selectionRange, Formatter);
                await js.InvokeVoidAsync("console.log", "insert: " + data.InputType);
                break;
            case "insertLineBreak":
                await js.InvokeVoidAsync("console.log", "line break: " + data.InputType);
                break;
            case "deleteByCut":
            case "deleteByDrag":
            case "deleteContentBackward":
            case "deleteContent":
                lineEditResult = startLine.Editing.DeleteContent(selectionRange, Formatter);
                break;
            case "deleteContentForward":
                lineEditResult = startLine.Editing.DeleteContent(selectionRange, Formatter, true);
                break;
            default:
                await js.InvokeVoidAsync("console.log", "unknown: " + data.InputType);
                break;
        }

        if (lineEditResult == null)
            return null;

        if (lineEditResult.Success)
            StateHasChanged();

        return new MetalineEditResult(data.Selection.Start.Line, lineEditResult);
    }
}