@namespace Skinnix.RhymeTool.Client.Components.Editing

@using Skinnix.RhymeTool.Client.Components.Rendering
@using Skinnix.RhymeTool.ComponentModel
@using Skinnix.RhymeTool.Data
@using Skinnix.RhymeTool.Data.Notation
@using Skinnix.RhymeTool.Data.Notation.Display
@using Skinnix.RhymeTool.Data.Notation.Display.Caching

@inject IJSRuntime js

@{
    void RenderNote(Note.NoteFormat format, bool isBassNote = false)
    {
        if (!string.IsNullOrEmpty(format.Accidental))
        {
            @(format.Type)<span class="accidental" data-accidental="@format.Accidental"><span class="accidental-content">@format.Accidental</span></span>
        }
        else
        {
            @(format.Type)
        }
    }

    void RenderChord(Chord chord)
    {
        var format = chord.Format(Formatter);

        <span class="chord-root">@{ RenderNote(format.Root); }</span><span class="chord-quality">@format.Quality</span>

        @if (chord.Alterations.Count > 0)
        {
            var i = 0;
            <span class="chord-alterations">
                @foreach (var alterationFormat in format.Alterations)
                {
                    if (i++ != 0)
                    {
                        <span class="chord-alteration-separator">/</span>
                    }

                    if (string.IsNullOrEmpty(alterationFormat.Modifier))
                    {
                        <span class="chord-alteration">@(alterationFormat.Type)@(alterationFormat.Degree)</span>
                    }
                    else if (alterationFormat.ModifierAfter)
                    {
                        <span class="chord-alteration">@(alterationFormat.Type)@(alterationFormat.Degree)<span class="alteration-modifier" data-modifier="@(alterationFormat.Modifier)"><span class="alteration-modifier-content">@(alterationFormat.Modifier)</span></span></span>
                    }
                    else
                    {
                        <span class="chord-alteration">@(alterationFormat.Type)<span class="alteration-modifier" data-modifier="@(alterationFormat.Modifier)"><span class="alteration-modifier-content">@(alterationFormat.Modifier)</span></span>@(alterationFormat.Degree)</span>
                    }
                }
            </span>
        }

        @if (format.Bass is not null)
        {
            <span class="chord-bass-separator">/</span>

            <span class="chord-bass">@{ RenderNote(format.Bass.Value, true); }</span>
        }
        
        <span class="drag-handle" draggable="true" style="--content: '@chord.ToString(Formatter)';" ondragstart="chordStartDrag(event)"></span>
    }

    void RenderRhythmPattern(RhythmPattern rhythm)
    {
        var format = rhythm.Format(Formatter);

        <span class="rhythm-pattern-delimiter">@format.LeftDelimiter</span>

        var isFirst = true;
        @foreach (var bar in format.Bars)
        {
            if (isFirst)
            {
                isFirst = false;
            }
            else
            {
                <span class="rhythm-pattern-delimiter">@format.MiddleDelimiter</span>
            }

            @foreach (var stroke in bar.Strokes)
            {
                var strokeLength = stroke.Length?.ToString() ?? " ";
                var strokeNote = stroke.NoteLength?.ToString(Formatter) ?? " ";
                <span class="rhythm-pattern-stroke" data-stroke="@stroke.Stroke.Type">@stroke.Type</span>
                //<span class="rhythm-pattern-stroke" data-stroke="@stroke.Type">@stroke.Stroke<span class="stroke-length" style="--stroke-length: '@strokeLength';"></span><span class="stroke-note" style="--note-content: '@strokeNote'"></span></span>
                //<span class="rhythm-pattern-stroke stroke-length stroke-note" data-stroke="@stroke.Type" style="--stroke-length: '@strokeLength';--note-content: '@strokeNote';">@stroke.Stroke</span>
            }
        }

        <span class="rhythm-pattern-delimiter">@format.RightDelimiter</span>
    }

    void RenderTabElement(SheetDisplayLineWidthElement element)
    {
        var format = element.GetFormat();

        var style = format.Width.Max == 1 && format.Prefix is null && format.Suffix is null ? null
            : (format.Width.Max == 1 ? null : $"--tab-width: {format.Width.Max};--tab-padding: {format.Width.Max - format.TotalTextLength};")
            + (format.Prefix is null ? null : $"--tab-prefix: '{format.Prefix}';--tab-prefix-length: {format.Prefix.Length};")
            + (format.Suffix is null ? null : $"--tab-suffix: '{format.Suffix}';--tab-suffix-length: {format.Suffix.Length};");

        <span @key="element.Slice" class="@(SheetRenderer.GetElementClasses(element) + (format.Suffix is null ? null : " suffix"))" style="@style" @attributes="SheetRenderer.GetElementAttributes(element)">@format.Text</span>
    }

    void RenderSpan(SheetDisplayLineElement element)
    {
        string? elementString = null;
        <span @key="GetKey(element)" class="@SheetRenderer.GetElementClasses(element)" @attributes="SheetRenderer.GetElementAttributes(element)">@if (element is SheetDisplayLineChord chord)
            {
                RenderChord(chord.Chord);
            }
            else if (element is SheetDisplayLineRhythmPattern rhythm)
            {
                RenderRhythmPattern(rhythm.Rhythm);
            }
            else
            {
                @(elementString = element.Text)
            }@if (element.Tags.Contains(SheetDisplayTag.Attachment))
            {
                <span class="drag-handle" draggable="true" style="--content: '@(elementString ??= element.Text)';" ondragstart="attachmentStartDrag(event)"></span>
            }</span>
    }

    void RenderElement(SheetDisplayLineElement element)
    {
        switch (element)
        {
            case SheetDisplayLineBreakPoint breakpoint:
                //Keine Breakpoints im Editor
                break;

            case SheetDisplayLineSegmentTitleBracket titleBracket when titleBracket.IsTitleStart:
                <span class="scroll-anchor" id="sheetSegment-@(Line!.Guid)"></span><span @key="GetKey(element)" class="@SheetRenderer.GetElementClasses(element)">@titleBracket.Text</span>
                break;

            case SheetDisplayLineWidthElement tabElement:
                RenderTabElement(tabElement);
                break;

            // case SheetDisplayLineTabBarLine barLine:
            //     <span @key="GetKey(element)" class="@SheetRenderer.GetElementClasses(barLine)"><span class="bar-line-content">@element.ToString()</span></span>
            //     break;

            default:
                RenderSpan(element);
                break;
        }
    }

    void RenderElements(IEnumerable<SheetDisplayLineElement> elements)
    {
        foreach (var element in elements)
            RenderElement(element);
    }

    void RenderEmptyLine()
    {
        <br />
        //<text>&zwj;</text>
        //@("\n")
    }

    void RenderLine(SheetDisplayLine line)
    {
        switch (line)
        {
            case SheetDisplayEmptyLine empty:
                <div @key="GetKey(line)" class="line line-empty" data-line="@line.Id">@{RenderEmptyLine();}</div>
                break;

            case SheetDisplayChordLine chords:
                <div @key="GetKey(line)" class="line line-chords" data-line="@line.Id">@{RenderElements(line.GetElements());}</div>
                break;

            case SheetDisplayTextLine text:
                <div @key="GetKey(line)" class="line line-text" data-line="@line.Id">@{RenderElements(line.GetElements());}</div>
                break;

            case SheetDisplayTabLine tab:
                <div @key="GetKey(line)" class="line line-tab" data-line="@line.Id">@{RenderElements(line.GetElements());}</div>
                break;
        }
    }
}

@if (LineContext is not null)
{
    <span class="metaline" data-metaline="@Line!.Guid" data-type="@Line.GetType()?.Name" data-render-key="@(renderKey++)" @attributes="GetAdditionalAttributes()">
        <span class="metaline-controls" contenteditable="false"><span class="metaline-bracket"></span>@*<MetalineTypeButton Line="Line" />*@</span>
        <span class="metaline-lines">
            @foreach (var display in (renderedLines = LineContext.CreateDisplayLines(Formatter).ToArray()))
            {
                @*<span class="line-controls" contenteditable="false"><LineTypeButton Line="display" /></span>*@
                RenderLine(display);
            }
        </span>
    </span>
}

@code {
    [CascadingParameter] public SheetDocument? Document { get; set; }
    [CascadingParameter] public ISheetEditorFormatter? Formatter { get; set; }

    [Parameter] public SheetLineContext? LineContext { get; set; }
    [Parameter] public EventCallback<SheetDisplayLine[]> OnLinesRendered { get; set; }

    public SheetLine? Line => LineContext?.Line;

    private SheetLine? loadedLine;
    private ISheetEditorFormatter? loadedFormatter;

    private SheetDisplayLine[]? renderedLines;

    private long renderKey = 1;

    private bool shouldRender;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Line != loadedLine)
        {
            shouldRender = true;

            if (loadedLine is not null)
                loadedLine.Modified -= OnLineModified;

            loadedLine = Line;

            if (loadedLine is not null)
                loadedLine.Modified += OnLineModified;
        }

        if (Formatter != loadedFormatter)
        {
            shouldRender = true;

            loadedFormatter = Formatter;
        }
    }

    protected override bool ShouldRender()
    {
        return shouldRender;
    }

    private new void StateHasChanged()
    {
        shouldRender = true;
        base.StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        shouldRender = false;

        await base.OnAfterRenderAsync(firstRender);

        await OnLinesRendered.InvokeAsync(renderedLines);

        //await js.InvokeVoidAsync("notifyRenderFinished", this.GetType().Name);
    }

    private void OnLineModified(object? sender, ModifiedEventArgs args)
    {
        StateHasChanged();
    }

    public SheetDisplayLine? TryGetLine(int lineId)
    {
        if (LineContext is null || Document is null) throw new InvalidOperationException("Editor not initialized");

        //Finde die Zeile
        var lines = LineContext.CreateDisplayLines(Formatter);
        return lines.FirstOrDefault(l => l.Id == lineId);
    }

    private MetalineType GetEffectiveType(IReadOnlyList<SheetDisplayLine> displayLines)
    {
        if (displayLines.Count == 0)
            return MetalineType.Unknown;

        var type = MetalineType.Unknown;
        foreach (var display in displayLines)
        {
            switch (display)
            {
                case SheetDisplayChordLine:
                    type |= MetalineType.Chords;
                    break;
                case SheetDisplayTextLine:
                    type |= MetalineType.Text;
                    break;
            }
        }

        return type;
    }

    private IEnumerable<KeyValuePair<string, object?>> GetAdditionalAttributes()
    {
        if (Line is SheetTabLine)
            yield return new("data-selection", "box");
    }

    private object? GetKey(SheetDisplayLineElement element)
    {
        return null;
        //return element.Slice;
    }

    private object? GetKey(SheetDisplayLine line)
    {
        return line.Id;
    }

    private enum MetalineType
    {
        Unknown = 0,
        Text = 1,
        Chords = 2,
        TextAndChords = Text | Chords,
    }
}